.experience-heading-div {
  display: flex;
  flex-direction: column;
}

.main {
  padding-top: 80px; /* add some padding to the top of the main content area to avoid colliding with the header */
  padding-bottom: 200px; /* add some padding to the bottom of the main content area to avoid colliding with the footer */
}
